body {
    background: linear-gradient(90deg, #0f184f, #0f1c69);
    background-image: url(../images/intro-full.png);
    background-repeat: no-repeat;
    font-family: 'Gilroy';
    color: #fff;
    /*     overflow: hidden; */
}

/* ++++++++++++++++++++++++++++  NAVBAR START +++++++++++++++++++++++++++++++++++++++ */

.intro-logo {
    width: 300px;
    height: 80px;
    position: absolute;
    margin: 20px;
    left: -250px;
    top: 30px;
}

.navbar1 {
    position: relative;
}

.user-name {
    width: 175px;
    height: 40px;
    background: #273271;
    border-radius: 10px;
    position: absolute;
    right: -110px;
    bottom: -105px;
    text-align: center;
}

.user-name>span {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    top: -13px;
}

.white-span {
    width: 10px;
    background: #fff;
    border: 10px solid #02114f;
    position: relative;
    left: 175px;
    top: 10px;
    z-index: 0;
    border-left: 18px solid #273271;
    display: block;
}

.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 4px solid white;
    position: absolute;
    right: -200px;
    bottom: -110px;
    overflow: hidden;
}

.fa-user-tie {
    color: #fff;
    font-size: 35px;
    position: relative;
    top: 10px;
    left: 5px;
}

/* ++++++++++++++++++++++++++++  NAVBAR END +++++++++++++++++++++++++++++++++++++++ */







/* ++++++++++++++++++++++++++++++++++++  CHART Start  +++++++++++++++++++++++++++++++++++++ */


svg {
    left: 35%;
    top: 220px;
    position: absolute;
    display: block;
}

.axis path,
.axis line {
    fill: none;
    stroke: rgb(214, 0, 0);
    shape-rendering: crispEdges;
    stroke-width: 50px;
}

.bar {
    fill: orange;
}

.solidArc:hover {
    opacity: 0.5;
    cursor: pointer;
}

.solidArc {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.x.axis path {
    display: none;
}

.aster-score {
    line-height: 1;
    font-weight: bold;
    font-size: 500%;
}

.d3-tip {
    line-height: 1;
    font-weight: 600;
    padding: 12px;
    font-size: 17px;
    color: #fff;
}



/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

/* coder */
.scores {
    background: transparent;
    width: 25px;
    position: absolute;
    left: 898px;
    top: 228px;
    z-index: 1;
}

.scores span {
    display: block;
    font-size: 15px;
    color: #fff;
    height: 20px;
    font-weight: 700;
}

.tips-right {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    left: 940px;
    top: 123px;
    z-index: 1;
    width: 500px;
}

.tips-right span {
    display: inline;
    position: relative;
}

#money {
    top: 100px;
    left: 30px;
}

#relations {
    top: 210px;
    left: -50px;
}

#relax {
    top: 310px;
    left: -210px;
}

.tips-left {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    left: 670px;
    top: 100px;
    z-index: 1;
    width: 0;
}

.tips-left span {
    display: inline;
    position: relative;
}

#family {
    left: 135px;
}

#health {
    top: 70px;
    left: 30px;
}

#life {
    top: 150px;
    left: 35px;
    display: inline-block;
    text-align: center;
}

#personal {
    top: 200px;
    left: 115px;
    display: inline-block;
    text-align: center;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
}


/* code */

/* ++++++++++++++++++++++++++++++++++++  CHART End +++++++++++++++++++++++++++++++++++++ */



/* body */
.container-titles {
    width: 500px;
    background: transparent;
    height: 700px;
}

.title1 {
    font-size: 40px;
    font-weight: 600;
    color: aliceblue;
    position: absolute;
    top: 120px;
    left: 30%;
}

.title2 {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: aliceblue;
    position: absolute;
    top: 750px;
    left: 44%;
}

.title3 {
    font-size: 30px;
    font-weight: 600;
    color: aliceblue;
    position: absolute;
    top: 820px;
    left: 41%;
}

.title4 {
    font-size: 40px;
    font-weight: 600;
    color: aliceblue;
    position: absolute;
    top: 920px;
    left: 700px;
}

.courses {

    width: 1170px;
    background: linear-gradient(120deg, #000e5e, #3f4983);
    color: #fff;
    border-radius: 30px;
    position: relative;
    font-weight: 600;
    padding: 50px;
}

.course-name {
    font-size: 30px;
    font-weight: 700;
    margin: 40px 0 20px 0;
}

.course-info {
    width: 800px;
    font-weight: 500;
    line-height: 22px;
    font-size: 16px;
}

.photo-container {
    position: absolute;
    left: -170px;
    width: 250px;
    height: 250px;
}

.course-tutor {
    width: 250px;
    height: 250px;
    border: 4px solid #fff;
    border-radius: 15px;

}

.btn-course {
    background: linear-gradient(90deg, #038303, #0ac801);
    height: 45px;
    margin-top: 15px;
    border-radius: 10px;
    text-align: center;
    line-height: 45px
}

.btn-course:hover {
    box-shadow: 0px 0px 15px 5px #038303;
}

.btn-course img {
    height: 25px;
    width: 25px;
    border: none;
    margin-right: 10px;
}

.course-preview {
    margin-top: 50px;
}

.text-preview {
    line-height: 25px;
    margin: 30px 60px 50px 30px;
    width: 480px;
}

.video-preview {
    text-align: right;
}


.txt-orange {
    color: #ec6227;
}

.course-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 930px;
}

.button-clear {
    background: linear-gradient(90deg, #da3312, #f57d41);
    height: 60px;
    width: 370px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin-left: 55px;
    margin-top: 60px;
    border: none;
}

.button-more {
    background: transparent;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin-left: 55px;
    margin-top: 60px;
    border: none;
    position: relative;
    left: 100px;
}

.button-ease {
    width: 270px;
    height: 60px;
    background: transparent;
    border: none;
    color: #fff;
    position: relative;
    left: 400px;
}

.fa-chevron-up {
    margin: 5px 5px 0px 5px;
    /*     animation: arrow-rotation 1s infinite ease-in-out; */
}


@keyframes arrow-rotation {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(180deg)
    }
}




.mtb-30 {
    margin-top: 30px;
    margin-bottom: 50px;
}

.top-clicker1 {
    display: none;
    width: 270px;
    height: 60px;
    background: transparent;
    border: none;
    color: #fff;
    position: relative;
    left: 400px;
    font-weight: 700;
}

.top-clicker2 {
    display: none;
    width: 270px;
    height: 60px;
    background: transparent;
    border: none;
    color: #fff;
    position: relative;
    font-weight: 700;
    left: 400px;

}

.top-clicker3 {
    display: none;
    width: 270px;
    height: 60px;
    background: transparent;
    border: none;
    color: #fff;
    position: relative;
    font-weight: 700;
    left: 400px;
}

.button-modal-clear {
    background: linear-gradient(90deg, #da3312, #f57d41);
    height: 60px;
    width: 370px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 50px;
    margin-left: 35px;
    border: none;
}

.modal-content {
    border-radius: 20px !important;
    background: linear-gradient(150deg, #0f184f, #122bb8) !important;
    color: #fff;

}

.modal-header {
    border: none !important;
    margin-left: 70px;
    margin-top: 20px;
}

.modal-header h3 {
    color: #fff;
    font-size: 28px !important;
    font-weight: 700 !important;
}

.modal-footer {
    border: none !important;
}

#mod-name {
    width: 430px;
    height: 55px;
    font-size: 15px;
    margin-left: 20px;
    border-radius: 10px;
    font-weight: 700;

}

#mod-surname {
    width: 430px;
    height: 55px;
    font-size: 15px;
    margin-left: 20px;
    border-radius: 10px;
    font-weight: 700;
}

#mod-mail {
    width: 430px;
    height: 55px;
    font-size: 15px;
    margin-left: 20px;
    border-radius: 10px;
    font-weight: 700;
}

.close span {
    color: #fff !important;
    font-size: 30px;
    font-weight: 400;
}

























/* ++++++++++++++++++++++++++++++++++++++++ Media For 1280px start ++++++++++++++++++++++++++++++++++++++++ */

@media (max-width: 1280px) {

    .title1 {
        font-size: 28px;
        font-weight: 600;
        color: aliceblue;
        position: absolute;
        top: 80px;
        left: 32%;
    }

    .title2 {
        font-size: 28px;
        top: 500px;
        left: 44%;
    }

    .title3 {
        font-size: 28px;
        top: 550px;
        left: 39%;
    }

    .title4 {
        font-size: 29px;
        top: 650px;
        left: 36.5%;
    }

    .container-titles {
        width: 500px;
        background: transparent;
        height: 400px;
    }

    .img-row {
        height: 200px;
    }

    .logo-container {
        height: 150px;
    }

    .navbar1 {
        position: relative;
        left: -200px;
    }

    .intro-logo {
        width: 250px;
        height: auto;
        position: absolute;
        margin: 20px;
        left: 170px;
        top: 30px;
    }

    .mar-top-390 {
        margin-top: 250px;
    }

    .mar-top-390 .row .col-md-12 h1 {
        font-size: 30px;
    }

    .mar-top-390 .row .col-md-12 p {
        font-size: 20px;
    }

    svg {
        left: 30%;
        top: 150px;
        position: absolute;
    }

    .tips-right {
        left: 615px;
        top: 0px;
        font-size: 13px;
    }

    .tips-left {
        left: 420px;
        top: 20px;
        font-size: 13px;
        font-weight: 700;
    }




    #family {
        left: 125px;
    }

    #health {
        top: 45px;
        left: 60px;
    }

    #life {
        top: 100px;
        left: 70px;
        display: inline-block;
        text-align: center;
    }

    #personal {
        top: 120px;
        left: 108px;
        display: inline-block;
        text-align: center;
        font-size: 12px;
        font-weight: 700;
    }

    #career {
        top: 40px;
        left: 20px;
    }

    #money {
        top: 100px;
        left: 10px;
    }

    #relations {
        top: 180px;
        left: -50px;
    }

    #relax {
        top: 240px;
        left: -160px;
    }





    .scores {
        left: 609px;
        top: 150px;
    }

    .scores span {
        font-size: 13px;
        height: 14px;
    }

    .textarea {
        font-size: 16px;
    }

    .mar-top-150 {
        margin-top: 50px;
    }

    .button-clear {
        width: 300px;
        height: 55px;
    }

    .button-clear a {
        left: -80px;
        font-size: 14px;
        top: 15px;
    }

    .fa-arrow-right {
        right: 10%;
    }

    .jony {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        vertical-align: middle;
        overflow: hidden;
    }

    .text-path {
        top: 460px;
        left: 120px;
    }

    #choose_sector h3 {
        font-size: 25px;
    }

    .courses {
        width: 1000px;
        margin-left: 120px;

    }

    .button-more {
        left: 10px;
        width: 40%;
    }

    .top-clicker1 {
        left: 320px;
    }

    .top-clicker2 {
        left: 320px;
    }

    .top-clicker3 {
        left: 320px;
    }

    .course-name {
        font-size: 24px;
    }

    .course-info {
        width: 700px;
        font-size: 16px;
    }


}

/* ++++++++++++++++++++++++++++++++++++++++ Media For 1280px ++++++++++++++++++++++++++++++++++++++++ */







/* ++++++++++++++++++++++++++++++++++++++++ Media For 1280px start ++++++++++++++++++++++++++++++++++++++++ */

@media (max-width: 768px) {
    .intro-logo {
        width: 210px;
    }

    .user-name {
        width: 150px;
        top: 55px;
    }

    .user-name span {
        font-size: 14px;
    }

    .white-span {
        left: 150px;
        border: 10px solid #0a1956;
        border-left: 18px solid #273271;
    }

    .user-photo {
        bottom: -100px;
    }

    .title1 {
        font-size: 28px;
        font-weight: 600;
        color: aliceblue;
        position: absolute;
        top: 130px;
        left: 20%;
    }

    .title2 {
        font-size: 28px;
        top: 550px;
        left: 45.5%;
    }

    .title3 {
        font-size: 28px;
        top: 600px;
        left: 37%;
    }

    .title4 {
        font-size: 29px;
        top: 720px;
        left: 32%;
    }

    .container-titles {
        height: 500px;
    }

    svg {
        left: 22%;
        top: 220px;
    }

    .tips-right {
        left: 393px;
        top: 61px;
        font-size: 11px;
    }

    .tips-left {
        left: 209px;
        top: 80px;
        font-size: 11px;
        font-weight: 500;
    }

    .scores {
        left: 395px;
        top: 218px;
    }

    .courses {
        width: 570px;
    }

    .course-info {
        width: 400px;
    }

    .course-tutor {
        width: 200px;
        height: 200px;
    }

    .btn-course span {
        font-size: 13px;
    }

    .btn-course {
        width: 200px;
    }

    .top-clicker1 {
        top: 15px;
        left: 200px;
    }

    .top-clicker2 {
        top: 15px;
        left: 200px;
    }

    .top-clicker3 {
        top: 15px;
        left: 200px;
    }

    .text-preview {
        width: 450px;
        display:none;
    }

    .video-preview {
        display: block;
        position: relative;
        left:-200px;
    }
    .course-buttons{
        width: 500px;
    }
}