body {
    background: linear-gradient(90deg, #0f184f, #0f1c69);
    background-image: url(../images/intro-with-effects.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Gilroy';

}

/* ++++++++++++++++++++++++++++  NAVBAR START +++++++++++++++++++++++++++++++++++++++ */

.intro-logo {
    width: 300px;
    height: 80px;
    position: absolute;
    margin: 20px;
    left: -170px;
    top: 30px;
}

.navbar1 {
    position: relative;
}

.user-name {
    width: 175px;
    height: 40px;
    background: #273271;
    border-radius: 10px;
    position: absolute;
    right: -110px;
    bottom: -105px;
    text-align: center;
}

.user-name>span {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    top: -13px;
}

.white-span {
    width: 10px;
    background: #fff;
    border: 10px solid #02114f;
    position: relative;
    left: 175px;
    top: 10px;
    z-index: 0;
    border-left: 18px solid #273271;
    display: block;
}

.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 4px solid white;
    position: absolute;
    right: -200px;
    bottom: -110px;
    overflow: hidden;
}

.fa-user-tie {
    color: #fff;
    font-size: 35px;
    position: relative;
    top: 10px;
    left: 5px;
}

/* ++++++++++++++++++++++++++++  NAVBAR END +++++++++++++++++++++++++++++++++++++++ */
.carousel-inner {
    height: 400px;
}

.carousel-item.active {
    height: 400px;
    width: 100%;
}

.mar-top-30 {
    margin-top: 30px;
}

.mar-top-100 {
    margin-top: 200px;
}

.mar-top-50 {
    margin-top: 50px;
}

.mar-bot-30 {
    margin-bottom: 30px;
}

.num-question {
    width: 50px;
    height: 50px;
    display: inline-block;
    left: -30px;
    position: relative;
    background: linear-gradient(120deg, rgb(7, 110, 7), rgb(62, 204, 62));
    text-align: center;
    line-height: 45px;
    border-radius: 15px;
    box-shadow: 0px 5px 0px darkgreen;
}

input[type=range] {
    -webkit-appearance: none;
    /* Hides the slider so that custom slider can be made */
    width: 100%;
    /* Specific width is required for Firefox. */
    background: #202a68;
    /* Otherwise white in Chrome */
    height: 8px;
    border-radius: 5px;
}

/* input[type=range]::-webkit-slider-thumb {
       -webkit-appearance: none; 

} */

input[type=range]:focus {
    outline: none;
    /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    /*     background: transparent; 
    border-color: transparent; */
    /*     color: transparent; */
}

input[type=range]::-moz-range-progress {
    background: #db3e11;
    height: 8px;
    border-radius: 5px;
}

.wrapper {
    margin: 0 auto;
    width: 777px;
    position: relative;
    top: 345px;
}

.dashes {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 18px;
    position: relative;
    color: #fff;
    width: 778px;
}

.values {
    justify-content: space-between;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    width: 788px;
}

.buttons {
    position: relative;
    top: 50px;
}

.first-btn {
    text-align: right;
}

.second-btn {
    text-align: left;
    left: -50px;
}

.button-clear {
    background: transparent;
    border-radius: 8px;
    border: 1px solid #ffffff;
    position: relative;
    color: #ffffff;
}

.button-clear a {
    height: 65px;
    width: 270px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    top: 20px;
    position: relative;
}

.fa-arrow-left {
    position: absolute;
    left: 5%;
    bottom: 36%;
    font-size: 18px;
}

.button-clear:hover {
    box-shadow: 0px 5px 10px rgb(175, 175, 175);
}

.button-clear a:hover {
    text-decoration: none;
    color: rgb(223, 223, 223);
}

.button-orange {
    background: linear-gradient(90deg, #da3312, #f57d41);
    height: 65px;
    width: 270px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin-left: 55px;
    border: none;
    border-radius: 8px;
    position: relative;
}

.button-orange a {
    height: 65px;
    width: 270px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    top: 20px;
    position: relative;
}

.button-orange a:hover {
    text-decoration: none;
    color: rgb(233, 233, 233);
}

.fa-arrow-right {
    position: absolute;
    right: 5%;
    bottom: 36%;
    font-size: 18px;
}

.button-orange:hover {
    box-shadow: 0px 5px 10px rgb(204, 61, 18);
}













/* ++++++++++++++++++++++++++++++++++++++++ Media For 1280px start ++++++++++++++++++++++++++++++++++++++++ */

@media (max-width: 1280px) {
    body {
        overflow: hidden;
    }

    .img-row {
        height: 200px;
    }

    .logo-container {
        height: 150px;
    }

    .navbar1 {
        position: relative;
        left: -200px;
    }

    .intro-logo {
        width: 250px;
        height: auto;
        position: absolute;
        margin: 20px;
        left: 170px;
        top: 30px;
    }

    .mar-top-390 {
        margin-top: 250px;
    }

    .mar-top-390 .row .col-md-12 h1 {
        font-size: 30px;
    }

    .mar-top-390 .row .col-md-12 p {
        font-size: 20px;
    }

    svg {
        left: 20%;
        top: 150px;
        position: absolute;
    }

    .mar-top-60 {
        margin-top: 0;
    }

    .textarea {
        font-size: 16px;
    }

    .mar-top-150 {
        margin-top: 50px;
    }

    .button-clear {
        width: 300px;
        height: 55px;
    }

    .button-orange {
        width: 300px;
        height: 55px;
    }
    .button-orange a{
        top: 15px;
    }

    .button-clear a {
            font-size: 14px;
        top: 12px;
    }

    .fa-arrow-right {
        right: 10%;
    }
    .fa-arrow-left {
        left: 10%;
    }

    .carousel-caption h2 {
        font-size: 26px;
    }
    .num-question{
        width: 30px;
        height: 30px;
        border-radius: 8px;
        line-height: 30px;
    }
    .mar-top-30{
        font-size: 15px;
    }
    .mar-top-100{
        margin-top: 80px;
    }
}

/* ++++++++++++++++++++++++++++++++++++++++ Media For 1280px ++++++++++++++++++++++++++++++++++++++++ */