body {
    background: linear-gradient(90deg, #0f184f, #0f1c69);
    background-image: url(../images/intro-with-effects.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Gilroy';

}

/* ++++++++++++++++++++++++++++  NAVBAR START +++++++++++++++++++++++++++++++++++++++ */

.intro-logo {
    width: 300px;
    height: 80px;
    position: absolute;
    margin: 20px;
    left: -170px;
    top: 30px;
}

.navbar1 {
    position: relative;
}

.user-name {
    width: 175px;
    height: 40px;
    background: #273271;
    border-radius: 10px;
    position: absolute;
    right: -110px;
    bottom: -105px;
    text-align: center;
}

.user-name>span {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    top: -13px;
}

.white-span {
    width: 10px;
    background: #fff;
    border: 10px solid #02114f;
    position: relative;
    left: 175px;
    top: 10px;
    z-index: 0;
    border-left: 18px solid #273271;
    display: block;
}

.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 4px solid white;
    position: absolute;
    right: -200px;
    bottom: -110px;
    overflow: hidden;
}

.fa-user-tie {
    color: #fff;
    font-size: 35px;
    position: relative;
    top: 10px;
    left: 5px;
}

/* ++++++++++++++++++++++++++++  NAVBAR END +++++++++++++++++++++++++++++++++++++++ */



.after-txt {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 50px;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size: 36 px !important;
    font-weight: 600;
    margin-bottom: 50px;
}


.button-clear {
    background: linear-gradient(90deg, #da3312, #f57d41);
    border-radius: 8px;
    border: none;
    position: relative;
    color: #ffffff;
}

.button-clear a {
    height: 65px;
    width: 430px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    top: 20px;
    position: relative;
}

.button-clear a:hover {
    text-decoration: none;
    color: rgb(177, 177, 177);
}

.fa-arrow-right {
    position: absolute;
    right: 5%;
    bottom: 36%;
    font-size: 18px;
}

.button-clear:hover {
    box-shadow: 0px 5px 10px rgb(204, 61, 18);
}


.mar-top-20 {
    margin-top: 20px;
}

.mar-top-390 {
    margin-top: 390px;
}














/* ++++++++++++++++++++++++++++++++++++++++ Media For 1280px start ++++++++++++++++++++++++++++++++++++++++ */

@media (max-width: 1280px) {
    body {
        overflow: hidden;
    }

    .img-row {
        height: 200px;
    }

    .logo-container {
        height: 150px;
    }

    .navbar1 {
        position: relative;
        left: -200px;
    }

    .intro-logo {
        width: 250px;
        height: auto;
        position: absolute;
        margin: 20px;
        left: 170px;
        top: 30px;
    }

    .mar-top-390 {
        margin-top: 250px;
    }

    .mar-top-390 .row .col-md-12 h1 {
        font-size: 30px;
    }

    .mar-top-390 .row .col-md-12 p {
        font-size: 20px;
    }

    .button-clear {
        height: 55px;
        width: 280px;
    }

    .button-clear a {
        top: 12px;
        left: -80px;
    }
}

/* ++++++++++++++++++++++++++++++++++++++++ Media For 1280px ++++++++++++++++++++++++++++++++++++++++ */















@media (max-width: 768px) {
    body {
        background-image: url("../images/intro-full.png");
        background-size: cover;
        background-color: #02114f;
        overflow: hidden !important;
    }

    .intro-logo {
        width: 210px;
        top: 22px;
    }

    .navbar1 {
        top: -25px
    }

    .user-name {
        width: 120px;
        height: 30px;
        top: 55px;
    }

    .user-name span {
        font-size: 11px;
        top: -15px;
    }

    .white-span {
        left: 119px;
        border: 8px solid #02114f;
        border-left: 16px solid #273271;
        top: 6px;
    }

    .user-photo {
        bottom: -92px;
        height: 40px;
        width: 40px;
        right: -172px;
    }

    .fa-user-tie {
        font-size: 25px;
        top: 7px;
        left: 4px;
    }

    .button-clear {
        height: 50px;
        width: 270px;
    }

    .button-clear a {
        font-size: 14px;
        top: 10px;
        left: -90px;
    }

    .fa-arrow-right {
        font-size: 14px;
    }
}


@media (max-width: 320px) {
    body {
        background-image: url("../images/intro-full.png");
        background-size: cover;
        background-color: #02114f;
        overflow: hidden !important;
    }

    .intro-logo {
        width: 150px;
        top: 22px;
        left: 190px;
    }

    .navbar1 {
        top: -25px
    }

    .user-photo {
        bottom: -80px;
        height: 35px;
        width: 35px;
        right: -175px;
    }

    .fa-user-tie {
        font-size: 20px;
    }

    .user-name {
        width: 120px;
        height: 30px;
        top: 100px;
        right: -185px;
    }

    .user-name span {
        font-size: 11px;
        top: -18px;
    }

    .white-span {
        left: 83px;
        border: 6px solid #02114f;
        border-left-color: rgb(2, 17, 79);
        border-left-style: solid;
        border-left-width: 8px;
        border-bottom: 12px solid #273271;
        top: -18px;
    }
    .mar-top-390 .row .col-md-12 h1 {
        font-size: 20px;
    }

    .mar-top-390 .row .col-md-12 p {
        font-size: 14px;
    }

    .button-clear {
        height: 40px;
        width: 160px;
    }
    .button-clear a {
        height: 40px;
        width: 160px;
        font-size: 11px;
        top: 6px;
        left: -6px;
    }
   .fa-arrow-right{
       font-size: 12px;
       bottom: 34%;
   }
}