body {
    background: linear-gradient(90deg, #0f184f, #0f1c69);
    background-image: url(../images/intro-without-logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Gilroy';
    overflow: hidden;
}

.img-row {
    height: 270px;
}

.intro-logo {
    width: 300px;
    position: absolute;
    left: 36%;
    top: 40%;
}


/*+++++++++++++++++++++++++++++++++++++++++ FORM-start +++++++++++++++++++++++++++++++++++++++++*/
.button-clear {
    background: linear-gradient(90deg, #da3312, #f57d41);
    height: 65px;
    width: 430px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin-left: 55px;
    border: none;
    position: relative;
}


.button-clear:hover {
    box-shadow: 0px 5px 10px rgb(204, 61, 18);
}

.fa-arrow-right {
    position: absolute;
    right: 5%;
    bottom: 36%;
    font-size: 18px;
}

.form-cancel {
    width: 570px;
    box-shadow: 0px 5px 21px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, #0f1851, #0f1c67);
    padding: 30px 0px 40px 0px;
    margin: 0 auto;
    border-radius: 25px;

}

.form-group {
    text-align: left;
    z-index: 2;
}

.form-group a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    cursor: pointer;
}

.form-group a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;

}

#second-a {
    margin-left: 40px;
    color: #db3e11;
}

#second-a:hover {
    color: #f36841;
    cursor: pointer !important;
}

.form-group input {
    width: 430px;
    height: 55px;
    border-radius: 5px;
    font-weight: 700;
    margin: 0px auto 10px auto;
    color: #b7b7b7;
}

#check {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    margin-left: 12px;
}

#cheker {
    padding-left: 90px;
}


.txt-center>a {
    text-align: center;
    color: #fff !important;
    font-weight: 700;
    margin-bottom: 30px;
}

.txt-center>a:hover {
    color: rgb(218, 92, 54) !important;
    cursor: pointer;
}

.white-span {
    width: 10px;
    background: #fff;
    border: 10px solid #0f1956;
    position: relative;
    left: 110px;
    top: 1px;
    z-index: 0;
    border-bottom: 20px solid rgb(255, 255, 255);
}

.after-txt {
    width: 475px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 50px;
}

/*+++++++++++++++++++++++++++++++++++++++++ FORM-end +++++++++++++++++++++++++++++++++++++++++*/



.mar-top-10 {
    margin-top: 10px;
}

.mar-top-20 {
    margin-top: 20px;
}

.mar-top-30 {
    margin-top: 30px;
}

.txt-center {
    text-align: center;
}